@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

// Default colours.
$primary-green: #3BA956;
$primary-dark: #333333;
$white: #fff;
$font-family: 'Roboto';
$font-family-numbers: 'Roboto Condensed';

// Global styles.
.block-weather-forecast {
  .content {
    max-width: 300px;
  }
}

.date-wrapper {
  font-family: $font-family;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: $primary-dark;
  padding: 5px 0;
}

.current-temperature,
.min-temperature,
.max-temperature {
  font-family: $font-family-numbers;
  color: $primary-green;
  font-size: 20px;
}

.content-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px 0;

  .right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}

//
// Current forecast.
//
.current-forecast {
  border: 2px solid $primary-green;
  border-bottom: none;
  line-height: normal;

  .current-temperature {
    font-size: 50px;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .icon {
    width: 70px;
    height: 70px;
    flex: 1;
  }

  .min-temperature,
  .max-temperature {
    font-size: 30px;
  }
}

//
// Extended forecast wrapper.
//
.extended-forecast-wrapper {
  display: flex;
  border: 2px solid $primary-green;

  .extended-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-right: 2px solid $primary-green;
    padding: 0 0 5px 0;

    &:last-child {
      border: none;
    }
  }
}

//
// Weather footer.
//
.weather-footer {
  font-family: $font-family;
  border: 2px solid $primary-green;

  .footer-wrapper {
    background: $primary-green;
    color: $white;
    padding: 5px 10px;
    font-weight: bold;
    display: flex;

    .footer-text {
      flex: 1;
    }

    .footer-data {
      display: flex;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 20px;
        right: 100%;
        transform: translateY(50%);
        bottom: 50%;
      }

      &.temperature-icon {
        &:before {
          background-image: url("../assets/temperature-icon.svg");
          width: 20px;
          height: 40px;
        }
      }

      &.water-temperature {
        &:before {
          background-image: url("../assets/water_temperature.svg");
        }
      }

      &.snow-blanket {
        &:before {
          background-image: url("../assets/snow_blanket.svg");
        }
      }
    }
  }
}

.weather-footer-media {
  border: 2px solid $primary-green;
  border-top: 0;

  a {
    text-decoration: none;
    border: none;

    &:hover {
      text-decoration: none;
      border: none;
    }
  }

  .footer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    img {
      max-height: 56px;
    }
  }
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;

  &.clear,
  &.mostClear {
    background-image: url("../assets/clear.svg");

    &_SHRA {
      background-image: url("../assets/shower.svg");
    }
  }

  &.prevCloudy,
  &.modCloudy,
  &.slightCloudy,
  &.partCloudy {
    background-image: url("../assets/partCloudy.svg");

    &_RA,
    &_DZ,
    &_FZDZ,
    &_FZRA,
    &_SHGR,
    &_SHRA {
      background-image: url("../assets/shower.svg");
    }

    &_SHRASN,
    &_RASN {
      background-image: url("../assets/snow_possibility.svg");
    }

    &_SHSN,
    &_SN {
      background-image: url("../assets/snow.svg");
    }

    &_TSRASN,
    &_TSGR,
    &_TSSN,
    &_TSRA {
      background-image: url("../assets/thunderstorm_possibility.svg");
    }

    &_TS {
      background-image: url("../assets/thunderstorm.svg");
    }
  }

  &.overcast {
    background-image: url("../assets/overcast.svg");

    &_RA,
    &_DZ,
    &_FZDZ,
    &_FZRA,
    &_SHGR,
    &_SHRA {
      background-image: url("../assets/overcast_RA.svg");
    }

    &_SHRASN,
    &_RASN {
      background-image: url("../assets/snow_possibility.svg");
    }

    &_SHSN,
    &_SN {
      background-image: url("../assets/snow.svg");
    }

    &_TSRASN,
    &_TSGR,
    &_TSSN,
    &_TSRA {
      background-image: url("../assets/thunderstorm_possibility.svg");
    }

    &_TS {
      background-image: url("../assets/thunderstorm.svg");
    }
  }

  &.FG {
    background-image: url("../assets/fog.svg");
  }

  &.snow-blanket {
    background-image: url("../assets/snow_blanket.svg");
    display: inline-block;
    width: 25px;
    height: 20px;
  }

  &.water-temperature {
    background-image: url("../assets/water_temperature.svg");
    display: inline-block;
    width: 25px;
    height: 20px;
  }

  &.temperature-icon {
    background-image: url("../assets/temperature-icon.svg");
    display: inline-block;
    width: 25px;
    height: 20px;
  }
}
