{% if text %}
  <div class="weather-footer">
    <div class="footer-wrapper">
      <div class="footer-text">
        {{ text }}
      </div>
      <div class="footer-data {{ icon }}">
        <span>{{ data }}</span>
      </div>
    </div>
  </div>
{% endif %}

{% if image %}
  <div class="weather-footer-media">
    <a href="{{ link }}" target="_blank">
      <div class="footer-image">
        <img src="{{ image }}"/>
      </div>
    </a>
  </div>
{% endif %}

