<div class="current-forecast">
  <div class="date-wrapper">{{ current_date }}</div>
  <div class="content-wrapper">
    <div class="icon {{ icon }}"></div>
    <div class="current-temperature">{{ current_temperature }}</div>
    <div class="right-wrapper">
      <div class="max-temperature">{{ max_temperature }}</div>
      <div class="min-temperature">{{ min_temperature }}</div>
    </div>
  </div>
</div>
