<div class="extended-forecast">
  <div class="date-wrapper">{{ current_date }}</div>
  <div class="icon {{ icon }}"></div>
  <div class="max-temperature">{{ max_temperature }}</div>
  <div class="min-temperature">{{ min_temperature }}</div>
</div>
